@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Noto+Sans+JP:wght@300&family=Roboto:wght@300;400&family=Shantell+Sans:ital,wght@1,300&family=Tilt+Prism&display=swap');



* {
    margin: 0;
    padding: 0;
    --color: rgba(218, 190, 132, 0.829);
    --dash-color: 
    font-family: 'Chakra Petch', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 0.6fr 2fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
}

/* Header */

#header {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: aliceblue;
}

.search {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.name-bell-icon {
    display: flex;
    gap: 2rem;
}

.hero-nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.right-nav {
    display: flex;
    gap: 5rem;
    align-items: flex-end;
}

/* Sidebar */

#sidebar {
    grid-row-start: 1;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    background-color: var(--color)
}

.dashboard {
    background-color: rgb(146, 111, 45);
    font-size: 40px;
    color: beige;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#profile-links, #settings {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


/* Article */

#article {
    grid-column: 2/4;
    grid-row: 2/5; 
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* border: 1px solid; */
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    width: 100%;
}

.projects > div {
    /* height: 200px; */
    box-shadow: 5px 10px 10px gray;
}

.projects .project:hover {
    background-color: rgb(223, 221, 205);
    transition: 0.1s ease-in;
}



.announcements {
    border-radius: 25px;
    border: 5px solid var(--color);
    grid-column: 3/4;
    grid-row: -4/-1;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
}


/* svgs and imgs */

#notification {
    transform: scale(0.3);
    /* position: absolute; */
    top: 0px;
    right: 225px;
    border: 1px solid;
    margin-top: 0px;
}

#profile-hero {
    height: 150px;
}

#profile {
    height: 30px;
}