@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Noto+Sans+JP:wght@300&family=Roboto:wght@300;400&family=Shantell+Sans:ital,wght@1,300&family=Tilt+Prism&display=swap');



* {
    margin: 0;
    padding: 0;
    --color: rgba(218, 190, 132, 0.829);
    font-family: 'Chakra Petch', sans-serif;
}


#container {
    display: grid;
    grid-template-columns: 0.6fr 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
}

/* Header */

#header {
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: rgb(105, 139, 168);
}


#notification {
    transform: scale(1);
    margin-top: 1.6px;
    height: 29px;
    /* position: absolute; */;
    /* border: 1px solid; */
}

.material-icons {
    position: absolute;
    left: 26%;
    top: 1.6%;
}

#hanap {
    width: 40em;
    border-radius: 20px;
    border: none;
    background-color: rgb(223, 229, 231);
    height: 2em;
}

.search {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.name-bell-icon {
    display: flex;
    gap: 0.9rem;
}

.name-bell-icon span {
    margin-top: 5px;
    font-size: 1.4rem;
}

.hero-nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.right-nav {
    display: flex;
    gap: 5rem;
    align-items: flex-end;
}

/* Sidebar */

#sidebar {
    grid-row-start: 1;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: rgb(165, 198, 206);
}

.dashboard {
    background-color: rgba(165, 198, 197, 1);
    font-size: 40px;
    color: rgb(41, 41, 8);
    padding: 20px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 4rem;
    /* border: 1px solid; */
    width: 100%;
    text-align: center;
}

#profile-links div {
    padding: 20px;
}

#settings div {
    padding: 16px;
}

#profile-links div:hover {
    background-color:rgb(63, 91, 143);
    transition: 0.1s ease-in;
}

#settings div:hover {
    background-color:rgb(63, 91, 143);
    transition: 0.1s ease-in;
}

#profile-links, #settings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: black;
}


/* Article */

#article {
    grid-column: 2/6;
    grid-row: 2/6; 
    margin: 2rem;
    gap: 30px;
    display: flex;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    width: 63%;
}


.projects > div {
    /* height: 200px; */
    box-shadow: 5px 10px 10px gray;
}


.projects .project:hover {
    background-color: rgb(45, 80, 146);
    transition: 0.1s ease-in;
}



.announcements {
    /* border-radius: 25px; */
    /* border: 5px solid var(--color); */
    grid-column: 4/6;
    grid-row: 4/1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 35%;
}

.announcements > div {
    border-radius: 10px;
    border: 2px solid var(--color);
    height: 50%;
    width: 100%;
    text-align: center;
}


/* svgs and imgs */


#profile-hero {
    height: 150px;
}

#profile {
    height: 30px;
}